%p#notice= notice

%p
  %b Email:
  = @customer.email
%p
  %b Password:
  = @customer.password
%p
  %b Firstname:
  = @customer.firstname
%p
  %b Lastname:
  = @customer.lastname

= link_to 'Edit', edit_customer_path(@customer)
\|
= link_to 'Back', customers_path
