.form-group
  = f.input :firstname, label: false, placeholder: "#{t(:f_name)}"
.form-group
  = f.input :lastname, label: false, placeholder: "#{t(:l_name)}"
.form-group
  = f.input :address, label: false, placeholder: "#{t(:address)}"
.form-group
  = f.input :zipcode, label: false, placeholder: "#{t(:zip)}"
.form-group
  = f.input :city, label: false, placeholder: "#{t(:city)}"
.form-group
  = f.input :phone, label: false, placeholder: "#{t(:phone)}"
.form-group
  = f.input :country, label: false, placeholder: "#{t(:country)}"