.container-fluid
  = render layout: 'form' do |f|
    .col-md-6
      %h2= t(:bill_ad)
      .row
        .col-md-10
          = f.simple_fields_for :billing_address do |ba|
            = render partial: "address", object: ba          
    .col-md-6
      %h2= t(:ship_ad)
      .row
        .col-md-10
          = f.simple_fields_for :shipping_address do |sa|
            = render partial: "address", object: sa
