.form-group
  = address.input :address, label: false, placeholder: "#{t(:address)}"
.form-group
  = address.input :zipcode, label: false, placeholder: "#{t(:zip)}"
.form-group
  = address.input :city, label: false, placeholder: "#{t(:city)}"
.form-group
  = address.input :phone, label: false, placeholder: "#{t(:phone)}"
.form-group
  = address.input :country#, label: false, placeholder: "#{t(:country)}"
