.container-fluid
  .col-md-4
    %h2= t(:bill_ad)
    .row
      .col-md-4
        = simple_form_for @address_form do |f|
          = f.input :address
          = f.input :zipcode
          = f.input :city
          = f.input :phone        
          = f.button :submit